@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.fab{
    color: #0088a9;
    font-size: 175px;
    float: right;
    margin: 35px;

}
.fab:hover{
    color: #edf0f1;
    transition: 0.2s;
    cursor: pointer;
}

.conpics{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

}